/******************************************************************GENERAL*********************************************************************************/

body {
    background: white;
    color: #888;
     font-family: 'Roboto', sans-serif;
     float: cen;
}
.top-bar {
    background-color: transparent;
    color: white;
}
.top-bar h2 {
    background-color: transparent;
    color: white;
}
.top-bar-right a {
    color: white;
}


@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 16.3em
    }
}
@-moz-keyframes typing {
    from {
        width: 0
    }
    to {
        width: 16.3em
    }
}
@-webkit-keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}
@-moz-keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}
body {
    font-family: Consolas, monospace;
}

.mycart {
   background-image: url(../css/assets/cart.png);
   height:5%;
}

.myfooter {

 background-image: url(../css/assets/backgrounds/about.jpg);
height:auto;
}

.headers-section {
    background-image: url(../css/assets/backgrounds/hero.jpg);
    background-size: 100% 100%;
    text-align: center;
}
.headers-section h4 {
    margin-top: 14%;
    font-size: 4em;
    color: white;
}
.headers-section h6 {
    color: white;
    margin-top: 5%;
}
.arrowb img {
    margin-top: 13%;
    margin-bottom: 5%;
}
.product_box {
    border: 1px solid;
    width: 30%;
    height: auto;
    margin-right: 3%;
    padding-top: 4%;


}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #ff4444;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 50px;
        height: 50px;    
        padding: 15px 0 0 0;
}


#ads .card-detail-badge {      
        background: #f2d900;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

 .next-scroll
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #AC9E7C
}

.products-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}
/*card*/
.item
{
    width: 300px;
    height: 400px;
    background: #f5f5f7;
    justify-self: center;
    border: 2px white solid;

    display: grid;
    grid-template-rows: 10% 70% 20%
}
.item:hover
{
    border: 2px #a99b76 solid;
    cursor: pointer;
}
.item img
{
    align-self: center;
    justify-self: center;
    height: 70%;
}
.item-name
{
    color: #C7BFAA
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.circles p
{
    display: inline-block
}

.bottom 
{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

/*women section */
#women .wrapper
{
    margin: 4rem 0 2rem 0;
}

#women .next-scroll
{
    align-items: flex-start;
}

/* cirlces */
.circle
{
    width: 15px;
    height: 15px;

    border-radius: 50%;
}

.green
{
    background: green;
}
.grey
{
    background: #535154;
}
.blue
{
    background: blue;
}
.white
{
    background: white
}
.pink
{
    background: #D4A7AC
}  

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }
.inlinehr {
    display:block;
    width:75%;
}
.men{
     display: flex;
    flex-direction: row;
    align-items: center;
}
.hr1 {
   height: 2px;
    width: 100%;
    margin-left: 3rem;
    background: #CBCBCB; 
}
.sec {
    float:left;
    display:inline-block;
}
 .btn {
     background-color: #661a00;
     color: white;
     border-radius: 2px;
     height: 50px;
     text-transform: uppercase;
 }
.btnproduct {
    float:right;
    display:inline-block;
}
  .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #eee;
     border: 3px solid #8f8260;
     border-radius: 2px;
 }
 .container_check {
     display: inline;
     position: relative;
     padding-left: 35px;
     cursor: pointer;
     font-size: 22px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
.secbtnproduct {
   
    background-color:#45FE9E;
    background-size:100% 100%;
   
}
.categories {
    margin: 0;
     border-radius: 0;
     background-color: #c6bfa5;
}
.products {
    width:28%;
    float:left;
    background-color:#E0F8D9;
    margin:10px;
    padding:5px;
   
}
.hero{
   background-image: url('../images/about.jpg');
   background-size: 100% 100%;
   padding: 5%;
    color: white;
    font-size:25px;
}
.products:hover {
    border:solid 1px blue;
}
.imgcls {
    height:150px;
    width:100px;
    text-align:center;
    margin-left:30px;
}
#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }
.infooter {
    margin: 20px 0 20px 0;
	font-size:10px;
	text-align:center;
	width:33.33%;
	float: left;
    padding:20px;
	color: white;
	text-align:center;
}
fieldset {
    border: 2px solid #C0C0C0;
   height: 25%;
   width: 50%;
   /* position: relative; */
   margin-left: auto;
   margin-right: auto;
   /* margin-top: 50px; */
}
.twitter-footer {


 background-color: #C0C0C0;
    color: white;
    text-align: center;
   
    padding: 1%;
    
}
footer{
    background-color: #696969;
    padding: 1%;
    text-align: center;
    color: white;
}

/* Clear floats after the columns */
footer:after {
  content: "";
  display: table;
  clear: both;
}
.footerdiv {
    width:33.3%;
    float:left;
}
legend {
    text-align: center;
}
fieldset p{
   text-align: center;
}